@font-face {
    font-family: 'DinCondensed';
    src: url(./fonts/din-condensed.ttf);
}

@font-face {
    font-family: 'JetBrains';
    src: url(./fonts/JetBrainsMono-Regular.ttf);
}

@font-face {
    font-family: 'Pixelify';
    src: url(./fonts/PixelifySans-VariableFont_wght.ttf);
}

*{
    cursor: url(/assets/cursor.svg) 0 0, default;
}

body{
    margin-top: 1vw;
    background-color: #ECE0BD;
    font-family: 'Pixelify';
    color: #16161F;
}

.toggle-button{
    margin-left: auto;
    margin-right: 0;
    background-color: #FF8C37;
    border: #16161F 2px solid;
    border-radius: 9999px;
    width: calc(1rem + 2vw);
    height: 1vw;
    min-width: 100px;
    display: flex;
    align-items: start;
    padding: 0.5rem 0.3rem;
    min-height: 40px; 
}

.toggle-img:hover {
    cursor: url(./assets/pointer.svg) 16 16, auto;
}

.toggle-img{
    margin: 0;
    padding: 0;
    height: 100%;
}

.toggle-img.on{
    transform: translateX(150%);
    transition: transform ease-in 0.2s;

}

