.profile-description-container{
    width: 400px;
    overflow: hidden;
}

.profile-description-belt{
    width: max-content;
    display: flex;
    white-space: nowrap;
    animation: scroll infinite 6s linear;
}

.profile-description{
    flex-shrink: 0;
    white-space: nowrap;
    padding-right: 2px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}