    @font-face {
        font-family: 'DinCondensed';
        src: url(./fonts/din-condensed.ttf);
    }

    @font-face {
        font-family: 'JetBrains';
        src: url(./fonts/JetBrainsMono-Regular.ttf);
    }

    @font-face {
        font-family: 'Pixelify';
        src: url(./fonts/PixelifySans-VariableFont_wght.ttf);
    }


    
    body {
        margin-top: 1vw;
        font-family: 'DinCondensed';
        background-color: #0D0D0D;
        color: #FDF6EC;
    }



    .toggle-button{
        border: #E5A93C solid 2px;
        border-radius: 9999px;
        margin-right: 0;
        margin-left: auto;
        width: calc(1rem + 2vw);
        height: 1vw;
        min-width: 100px;
        display: flex;
        align-items: start;
        padding: 0.5rem 0.3rem;
        min-height: 40px;
    }

    .toggle-img:hover {
        cursor: pointer;
    }

    .toggle-img{
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .toggle-img.off{
        transform: translateX(0);
        transition: transform ease-in 0.2s;
    }

    .profile-description-container{
        width: 400px;
        overflow: hidden;
    }

    .profile-description-belt{
        width: max-content;
        display: flex;
        white-space: nowrap;
        animation: scroll infinite 6s linear;
    }

    .profile-description{
        flex-shrink: 0;
        white-space: nowrap;
        padding-right: 2px;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }